{% extends "TruckBundle:Document:document_layout.html.twig" %}

{% block title %}TruckBundle:Document:createAndSendPg{% endblock %}

{% block body %}
<h1>Welcome to the Document:createAndSendPg page</h1>

{#                    "vehicle" => $vehicle,
                    "homeDealer" => $homeDealer,
                    "outComment" => $outComment,
                    "operatorName" => $operatorName#}


{% endblock %}
