{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}new pg request{% endblock %}

{% block body %} 

    <div class="pure-form pure-form-aligned">
        <div class="pure-control-group">

            <center>
                <h3 class="formTitle">case {{ caseId }} - new payment guarantee request</h3>
            </center>

            {{ form_start(form) }} 
            {{ form_widget(form) }} 
            <center>
                <input class="pure-button pure-button-active button90red" type="submit" value="add PG"/>
            </center>

            {{ form_end(form) }}
        </div> 
    </div>

{% endblock %}

