{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}edit strr{% endblock %}

{% block body %} 

    <div class="pure-form pure-form-aligned">
        <div class="pure-control-group">

            <center>
                <h3 class="formTitle">case {{ caseId }} - edit start repair time</h3>
            </center>

            {{ form_start(form) }} 
            {{ form_widget(form) }} 
            <center>
                <input class="pure-button pure-button-active button90red" type="submit" value="save edit"/>
            </center>

            {{ form_end(form) }}
        </div> 
    </div>

{% endblock %}





