/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar


nbproject/
.idea/
test_graphics/
userguidelines.txt
test.php
jacekTcomments.txt
notes.txt
notes_document.txt
newIdeas.txt
notesWkhtmlToPdf.txt
TODO_list.txt
