{% extends "::base.html.twig" %}

{% block title %}TruckBundle:Vehicle:create{% endblock %}

{% block body %}
    <h1>create</h1>

    {{ form_start(form) }} 
    {{ form_widget(form) }} 
    <input type="submit" value="add"/>
    {{ form_end(form) }}

{% endblock %}
