{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}new vehicle{% endblock %}

{% block body %} 
    
    {{ include('TruckBundle:Main:main_menu.html.twig') }}

    <div class="pure-form pure-form-aligned">
        <div class="pure-control-group">

            <center>
                <h3 class="formTitle">new vehicle</h3>
            </center>

            <div class="padding7px">
                {{ form_start(form) }} 
                {{ form_widget(form) }} 
                <center>
                    <input class="pure-button pure-button-active button90red" type="submit" value="add vehicle"/>
                </center>
                {{ form_end(form) }}
            </div>
        </div> 
    </div>

{% endblock %}
