{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}delete user{% endblock %}

{% block body %}

    {{ include('TruckBundle:User:user_menu.html.twig') }}

    <center>
        <h3 class="formTitle">delete user</h3>
    </center>

    <div class="padding7px">
        {% if message is not empty %}
            <br/>
            <center>
                <span class="boldText">{{ message }}</span>
            </center>
        {% endif %}
    </div>

{% endblock %}
