<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}truck base!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('/css/main.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}

            {% endblock %}
        </div>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>

