{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}warning information{% endblock %}

{% block body %} 


            <center>
                <h3 class="formTitle">warning information</h3>
            </center>
    
            <p>{{ message }}</p>

            <center>
                <input class="pure-button pure-button-active button90red" type="submit" value="save END case"/>
            </center>



{% endblock %}
