{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}warning information{% endblock %}

{% block body %} 

    <center>
        <h3 class="formTitle">warning information</h3>
    </center>

    <br/>
    <p class="redBoldText">
        {{ message }}
    </p>
    <br/>

    <center>    
        <button title="back to main page" class="pure-button pure-button-active button90blue"
                onclick="window.location = '{{ path("truck_main_index") }}';">
            back to MAIN
        </button>    

        {% if is_granted('ROLE_OPERATOR') %}
            <button title="back to operator panel" class="pure-button pure-button-active button90red"
                    onclick="window.location = '{{ path("truck_operator_panel") }}';">
                Operator Panel
            </button>    
        {% endif %}
    </center>

{% endblock %}
