{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}wrong parameter{% endblock %}

{% block body %} 

    <center>
        <h3 class="formTitle">wrong parameter</h3>
    </center>

    <br/>
    <center>
        <p>Please do not manually modify the parameters in the address bar.</p>
    </center>
    <br/><br/>

    <center>
        <a class="pure-button pure-button-active button90red" title="back to main page" href="{{ path('truck_main_index') }}" >back to main</a> 
    </center>

{% endblock %}
