{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}wrong parameter{% endblock %}

{% block stylesheets %} 
    <link href="{{ asset('/css/pure/pure-min.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/buttons.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %} 

    <center>
        <h3 class="formTitle">wrong parameter</h3>
    </center>




{% endblock %}
