{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <center>
        <h3 class="formTitle">registration completed</h3>
    </center>

    <div class="padding7px">
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        {% if targetUrl %}
            <center>
                <button title="back to main page" 
                        class="pure-button pure-button-active button90red" 
                        onclick="window.location = '{{ path('truck_main_index') }}';">
                    back to main
                </button>   
            </center>
        {% endif %}
    </div>
{% endblock fos_user_content %}
