{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}case status color manual{% endblock %}

{% block body %} 

    <center>
        <h3 class="formTitle">case status color manual</h3>
    </center>

    <span class="boldText"> START:</span> START new case (automatic code) &rarr; red <br/>
    <span class="boldText"> PG:</span> Payment Guarantee (request) &rarr; red <br/>
    <span class="boldText"> CPG:</span> Confirmation Payment Guarantee &rarr; red <br/>
    <span class="boldText"> RO:</span> Repair Order &rarr; orange <br/>
    <span class="boldText"> ETA:</span> Estimated Arrival Time (dealer &rarr; client) &rarr; orange <br/>
    <span class="boldText"> STRR:</span> STaRt Repair &rarr; green <br/>
    <span class="boldText"> END:</span> END case &rarr; grey <br/> <br/>

    <span class="boldText"> WPG:</span> Withdrawal Payment Guarantee &rarr; red <br/>
    <span class="boldText"> WCPG:</span> Withdrawal Confirmation Payment Guarantee &rarr; red <br/>
    <span class="boldText"> WRO:</span> Withdrawal Repair Order &rarr; red <br/> <br/>

    <span class="boldText"> Incoming:</span> General purpose code. Incoming phone call/fax/mail/etc.
    (without color change).<br/>
    <span class="boldText"> Out:</span> General purpose code. Outgoing phone call/fax/mail/etc. 
    (without color change).<br/>

{% endblock %}

