
{#TODO add active switch: active/all/inactive#}

Active cases: <br/>

{% for case in cases %} 
    <a title="{{ case.vehicle.companyName }}" href="{{ path('truck_operator_panel', {'caseId': case.id}) }}"> 
        <button class="caseButton" style="background-color:{{ case.progressColor }};">{{ case.id }}</button> </a> <br/>
{% else %}
    Empty.
{% endfor %}
