{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}test echo{% endblock %}

{% block body %} 

    <center>
        <h3 class="formTitle">test echo</h3>
    </center>

    {{ dump(res) }}


{% endblock %}