{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}create dealer{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/css/index.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %} 

    <h1>new dealer</h1>

    {{ form_start(form) }} 
    {{ form_widget(form) }} 
    <input type="submit" value="add dealer"/>
    {{ form_end(form) }}


{% endblock %}

