.button90green {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    font-size: 90%;
}

.button90orange {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(223, 117, 20);
    font-size: 90%;
}

.button90red {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(202, 60, 60);
    font-size: 90%;
}

.button90blue {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
    font-size: 90%;
}

/* for show_vehicle - cases */
.button70noBackground {
    color: black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 70%;
}

.caseButton {
    color: black;
    background: #E6E6E6;
    font-size: 85%;
    min-width: 110px;    
    font-family: inherit;
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    text-decoration: none;
    border-radius: 2px;
}

/*.caseButton:hover {  
    color: white;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px 1px grey;
}*/

.casesSwitch {  /*TODO top/bottom distance*/
    color: black;
    text-decoration: none;
}

.casesSwitch:hover {  
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

.panelGreyButton {
    color: black;
    background: #E6E6E6;
    font-size: 85%;
    min-width: 50px;    
    font-family: inherit;
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    text-decoration: none;
    border-radius: 2px;
}

/*.panelGreyButton:hover {  
    color: white;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px 1px grey;
}*/

.panelRedButton {
    color: black;
    background: #FF7575;
    font-size: 85%;
    min-width: 50px;    
    font-family: inherit;
    border: 1px solid #999;  /* IE 6/7/8 */
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    text-decoration: none;
    border-radius: 2px;
}

/*.panelRedButton:hover {  
    color: white;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px 1px grey;
}*/

.panelOrangeButton {
    color: black;
    background: #FF9C42;
    font-size: 85%;
    min-width: 50px;    
    font-family: inherit;
    border: 1px solid #999;  /* IE 6/7/8 */
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    text-decoration: none;
    border-radius: 2px;
}

.panelYellowButton {
    color: black;
    background: #F7F9D0;
    font-size: 85%;
    min-width: 50px;    
    font-family: inherit;
    border: 1px solid #999;  /* IE 6/7/8 */
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    text-decoration: none;
    border-radius: 2px;
}

/*.panelYellowButton:hover {  
    color: white;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px 1px grey;
}*/

/*.panelOrangeButton:hover {  
    color: white;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px 1px grey;
}*/

.panelGreenButton {
    color: black;
    background: #93EEAA;
    font-size: 85%;
    min-width: 50px;    
    font-family: inherit;
    border: 1px solid #999;  /* IE 6/7/8 */
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    text-decoration: none;
    border-radius: 2px;
}

.caseButton:hover, .panelGreyButton:hover, .panelRedButton:hover, .panelYellowButton:hover, 
.panelOrangeButton:hover, .panelGreenButton:hover {  
    color: white;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px 1px grey;
}
