.button90green {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    font-size: 90%;
}

.button90orange {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(223, 117, 20);
    font-size: 90%;
}

.button90red {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(202, 60, 60);
    font-size: 90%;
}

.button90blue {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
    font-size: 90%;
}

.button70noBackground { /* for show_vehicle - cases */
    color: black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 70%;
}

.button50noBackground { 
    color: black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 50%;
}

.caseButton {
    color: black;
    background: #E6E6E6;
    font-size: 85%;
    min-width: 110px;    
    font-family: inherit;
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    text-decoration: none;
    border-radius: 2px;
}

.topMenu {
    color: #6d6e70;
    background: #E6E6E6;
    font-size: 80%;
    font-weight: bold;
    min-width: 50px;    
    font-family: inherit;
    border: 1px solid #999;  
    border: none rgba(0, 0, 0, 0);  
    text-decoration: none;
}

.casesSwitch {  /* active/inactive/all */
    color: black;
    text-decoration: none;
}

.casesSwitch:hover {  
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

.panelGreyButton {
    color: black;
    background: #E6E6E6;
    font-size: 85%;
    min-width: 50px;    
    font-family: inherit;
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    text-decoration: none;
    border-radius: 2px;
}

.panelRedButton {
    color: black;
    background: #FF7575;
    font-size: 85%;
    min-width: 50px;    
    font-family: inherit;
    border: 1px solid #999;  /* IE 6/7/8 */
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    text-decoration: none;
    border-radius: 2px;
}

.panelOrangeButton {
    color: black;
    background: #FF9C42;
    font-size: 85%;
    min-width: 50px;    
    font-family: inherit;
    border: 1px solid #999;  /* IE 6/7/8 */
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    text-decoration: none;
    border-radius: 2px;
}

.panelMenuGreyButton {
    color: black;
    background: #dcdddf;
    font-size: 85%;
    min-width: 130px;    
    font-family: inherit;
    border: 1px solid #999;  /* IE 6/7/8 */
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    text-decoration: none;
    border-radius: 2px;
}

.panelGreenButton {
    color: black;
    background: #93EEAA;
    font-size: 85%;
    min-width: 50px;    
    font-family: inherit;
    border: 1px solid #999;  /* IE 6/7/8 */
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    text-decoration: none;
    border-radius: 2px;
}

.caseButton:hover, .panelGreyButton:hover, .panelRedButton:hover, .panelOrangeButton:hover,
.panelGreenButton:hover, .panelMenuGreyButton:hover {  
    color: white;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px 1px grey;
}

.topMenu:hover {
    color: white;
    text-shadow: 1px 1px 1px #000000;
}
