html {
    height: 100%;
}

body {
    height: 100%;
    margin:0;
    padding:0;
    background-color: #f4f5f7;
}

.container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px dashed #c0b2b2;
    border-right: 1px dashed #c0b2b2;
    border-top: 1px dashed #c0b2b2;
    border-radius: .4em;
    min-height: 99%;
    /* https://www.fourkitchens.com/blog/article/fix-scrolling-performance-css-will-change-property/ */    
    /*  background-attachment: fixed;*/
    background-position-y: top 100px;
    /*    overflow: hidden; 
        position: relative; */
}
.container::before {
    content: ' ';
    position: fixed; 
    width: 40%;
    height: 40%;
    top: 50px;
    left: 400px;
    background: url("../images/bigBadLogo.png") no-repeat center center;
    z-index: -1;
}

.redBoldText {
    color: #c33030;
    font-weight: bold;
}

.greenBoldText {
    color: #008000;
    font-weight: bold;
}

.boldText {
    font-weight: bold;
}

.padding7px {
    padding: 7px;
}

.hrStyle {
    width: 99%;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.formTitle {
    background-color: #E6E6E6;
}

.statusRed {
    background-color: #FF7575;
}

.statusOrange {
    background-color: #FF9C42;
}

.statusGreen {
    background-color: #93EEAA;
}

.statusGrey {
    background-color: #E6E6E6;
}

/* START knp pagination*/
.navigation {
    text-align: center;
    padding-bottom: 15px;
    font-size: 120%;
}

.current {
    color: #c9cacc;
}

.page a {
    color: #555759;
    text-decoration: none;
}

.page a:hover {  
    color: black;
}

.first a {
    color: #555759;
    text-decoration: none;
}

.first a:hover {  
    color: black;
}

.last a {
    color: #555759;
    text-decoration: none;
}

.last a:hover {  
    color: black;
}

.next a {
    color: #555759;
    text-decoration: none;
}

.next a:hover {  
    color: black;
}

.previous a {
    color: #555759;
    text-decoration: none;
}

.previous a:hover {  
    color: black;
}
/* END knp pagination*/