.container {
    width: 1100px;
    height: 100%;
}

.logo {
    background-color: red;
    width: 20%;
    height: 15%;
    float: left;
}

.menuBar {
    
}

.cases {
    
}

.monitoring {
    
}

.logged {
    
}

.infoBar {
    
}
