
{% extends "TruckBundle:Main:base.html.twig" %}

{% block title %}user panel{% endblock %}

{% block body %} 
    <div>
        <br/>
        <div class="formTitle">
            <center>
                {{ include('@FOSUser/fos_user_menu.html.twig') }}
            </center>
        </div>
    </div>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div>
        {% block fos_user_content %} 
        {% endblock fos_user_content %}
    </div>
{% endblock %}
